<div class="container">
    <div class="header">
        <nav class="header-nav1">
            <ul>
                <li class="header-logo">Booking.com</li>    
                <div class="herader-1-ites">
                    <li>EUR</li>
                    <li>US FLAG</li>
                    <li>HELP</li>
                    <li>List Your Property</li>
                    <li>REGISTER</li>
                    <li>SIGN IN</li>
                </div>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <nav class="header-nav2">
            <ul>
                <li>Stays</li>
                <li>Flighs</li>
                <li>Car Rentals</li>
                <li>Attractions</li>
                <li>Airports</li>
            </ul>
        </nav>

        <p>Find your next stay</p>
        <p>Search deals on hotels, homes, and much more...</p>
    </div>
</div>