.container{
    background-color: #003580;
    position: relative;
    margin: 0px ;
}
.header {
    display: block;
    height: 250px;
    padding: 30px;
    align-content: center;
    margin:0 auto; /* this will center the page */
    width:990px; /*  use your width here */
}

ul {
    // list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}
.img-flag{
    border-radius: 15px;
    height: 35px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    text-align: left;
    display: inline-flex;
    -webkit-box-align: center;
}
.img-flag1{
    border-radius: 30px;
    height: 35px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    justify-content: center;
    text-align: left;
    display: inline-flex;
    -webkit-box-align: center;
}
.header-logo{
    font: 1em sans-serif;
    font-size: x-large;
    text-decoration: none;
    float: left;
}
.herader-1-ites{
    position: relative;
    float: right;
}

.header-nav1{
    list-style-type: none;
}

.btn{
    background: #fff;
    color: #0099CC; 
    border: 1px solid #0099CC;
    font-size: 14px;  padding: 10px;  text-decoration: none;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
}
.btn1{
    background: transparent;
    color: #fff; 
    border: 1px solid #fff;
    font-size: 14px;  padding: 10px;  text-decoration: none;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
}

