<div class="container">
    <div class="header">
        <nav class="header-nav1">
            <ul>
                <li class="header-logo"><a href="https://example.com" target="_blank">Booking.com</a></li>    
                <div class="herader-1-ites">
                    <li><a href="https://example.com" target="_blank">EUR</a></li>
                    <li><a href="https://example.com" target="_blank"><img class="img-flag" src='../assets/us-avatar.jpg'></a></li>
                    <li><a href="https://example.com" target="_blank"><img class="img-flag1" src='../assets/help-avatar.jpg'></a></li>
                    <li><a href="https://example.com" target="_blank"><button class="btn1">List Your Property</button></a></li>
                    <li><a href="https://example.com" target="_blank"><button class="btn">Register</button></a></li>
                    <li><a href="https://example.com" target="_blank"><button class="btn">Sign in</button></a></li>
                </div>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <nav class="header-nav2">
            <ul>
                <li>Stays</li>
                <li>Flighs</li>
                <li>Car Rentals</li>
                <li>Attractions</li>
                <li>Airports</li>
            </ul>
        </nav>

        <p>Find your next stay</p>
        <p>Search deals on hotels, homes, and much more...</p>
    </div>
</div>