.container{
    background-color: #003580;
    position: relative;
    margin: 0px ;
}
.header {
    display: block;
    height: 250px;
    padding: 30px;
    align-content: center;
    margin:0 auto; /* this will center the page */
    width:990px; /*  use your width here */
}

ul {
    // list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}
.img-flag{
    border-radius: 10px;
    height: 20px;
}
.header-logo{
    font: 1em sans-serif;
    font-size: x-large;
    text-decoration: none;
    float: left;
}
.herader-1-ites{
    position: relative;
    float: right;
    // display: block;
    // padding: 10px;
}

.header-nav1{
    list-style-type: none;
    // display: block;
}

.btn{
    background: #fff;
    // background: transparent; 
    // background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
//     -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 28px;
// text-shadow: 3px 2px 1px #9daef5;  -webkit-box-shadow: 6px 5px 24px #666666;  -moz-box-shadow: 6px 5px 24px #666666;  box-shadow: 6px 5px 24px #666666;
// font-family: Arial;  color: #fafafa;  font-size: 27px;  padding: 19px;  text-decoration: none;
    color: #0099CC; 
    border: 1px solid #0099CC;
    font-size: 14px;  padding: 10px;  text-decoration: none;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
}