
.ftr{
    display: block;

}
.ftr1{
    padding: 50px 0;
    background-color: #00224f;
    color: #fff;
    height: 160px;
}
.ftr2{
    background-color: #003580;
    height: 100px;
    font-size: 13px;
    color: #fff;
    line-height: 2;
    margin: 0;
    padding: 15px 10px;
    text-align: center;
}
    